body, html, #app{
  height: 100%;
  margin: 0;
}

#app {
  display: flex;
 
  /* justify-content: space-between;
  align-content: center; 
  align-items: center;
  flex-direction: column;
  */

}

.box{
  width: 200px;
  height: 60px;
  background: #f00;
  margin: 5px;


  /* flex-shrink: 1; */
  /* flex-grow: 1; */

}

.red{
  order: 1;
}

.green{
  background: #0f0;
  order: 2;
}

.blue{
  background: #00f;
  order: 0;
}